body {
    background-color: #01ffb7;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    padding-top: 3rem;
    padding-bottom: 3rem;
}

a {
    text-decoration: none;

}

.navbar-custom {
    background-color: #31aece;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 60px;
}

h1 {
    font-family: "Bytesized", sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

input {
    margin: 20px;
    border: none;
    border-radius: 25px;
}

label {
    display: block;
    font-size: 20px;
    font-weight: 900;
    font-size: 24px;
    color: white;
    text-shadow:
        -1px -1px 0 rgb(94, 51, 163),
        1px -1px 0 rgb(149, 40, 199),
        -1px 1px 0 rgb(168, 82, 224),
        1px 1px 0 rgb(195, 108, 230);

}
.calculo{
    margin-top: 32px;
    text-align: center;
}
button{
    border: none;
    border-radius: 25px;
    color: #31aece;
    font-size: 20px;
    padding: 10px;

}
.cl-IMC{
    border-radius: 50%;
}
.percentual{
    text-align: center;
}
#resultado{
    font-family: 'Courier New', Courier, monospace;
}